

body{
    background-color: white;
}

#secaoum{
    background-color: rgb(120, 194, 255);
    border: 0px;
    border-radius: 15px;
}

#infoum{
    padding: 30px;
    display: flex;
}

#listaum{
    
}