



#index{
    background-color: white;
    font-family: sogo;
}

/*
================================
        SEÇÃO UM 1/2 
==============================
*/

#secaoum{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

#textoum{
    color: rgb(0, 67, 167);
    font-size: 20px;
    margin-left: 0px;
    margin-right: 0px;
    h5{
        background-color: rgb(0, 67, 167);
        padding: 10px;
        border-radius: 15px;
        color: white;
        max-width: 110px;
        text-align: center;
    }
    .setas_acaos{
        background-color: white;
        border-radius: 10px;
        transform: translateX(-5px);
    }
}

.seta_acao{
    height: 30px;
    width: 30px;
}

#duplatextoseta{
    display: flex;
    align-items: center;
}

#Robologo{
    margin-top: 17px;
    margin-left: 0px;
    margin-right: 0px;
    width: 310px;
    height: 310px;
}

#infoum{
    display: flex;
    align-items: center;
    background-color: rgb(201, 226, 247);
    border: 0px;
    border-radius: 15px;
    font-size: 12px;
    flex: 1.7;
    justify-content: space-between;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#listaum{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.tabela{
    color: white;
    background-color: rgb(0, 67, 167);
    border: 0px;
    border-radius: 15px;
    margin: 10px 10px;
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 1.5;
    text-align: center;
}


/*
================================
        SEÇÃO DOIS 1/2 
===============================
*/

#infodois{
    background-color: rgb(201, 226, 247);
    border: 0px;
    border-radius: 15px;
    flex: 1;
    height: 100%;
}

#navsec1{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin: 0 25px;
    padding-right: 10px;
    margin-right: 15px;
    color: rgb(0, 67, 167);
}

#listadois{
    justify-content: space-between;
    padding: 0;
    list-style: none;
    margin: 0 25px;
    padding-bottom: 5px;
}

#navsec2{
    display: flex;
    justify-content: space-between;
    margin: 0 40px;
    padding: 0px;
    color: rgb(0, 67, 167);
}

.tabeladois{
    background-color: rgb(255, 255, 255);
    border: 0px;
    padding: 1px;
    border-radius: 15px;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    gap: 30px;
    margin: 6px;
    font-weight: bold;
    padding: 0 6px;
}

.processo1{
    background-color: greenyellow;
    border-radius: 7px;
    margin: 6px;
    p {
        margin: 5px;
    }
}

.processo2{
    background-color: rgb(253, 214, 39);
    border-radius: 7px;
    margin: 6px;
    p {
        margin: 5px;
    }
}

.processo3{
    background-color: rgb(255, 78, 47);
    border-radius: 7px;
    margin: 6px;
    p {
        margin: 5px;
    }
}



/*
================================
        SEÇÃO tres 1/2 
===============================
*/

#secaodois{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

#infotres{
    background-color: rgb(201, 226, 247);
    border: 0px;
    border-radius: 15px;
    padding: 30px;
    padding-top: 20px;
    margin: 10 0;
    flex: 1.7;
    justify-content: space-between;
}

#produtos{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

#textocompras{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 0px;
    color: rgb(0, 67, 167);
}

.fotosprodutos{
    background-color: white;
    width: 100px;
    border: 0px;
    border-radius: 15px;
    padding: 30px;
    text-align: initial;
    padding-bottom: 0px;
}

.fotoproduto{
    height: 100px;
    width: 100px;
}

.divcommais{
    display: flex;
    align-items: center;
    gap: 8px;
}
.mais{
    background-color: white;
    padding: 10px;
    width:12px ;
    height:12px ;
    border-radius: 150px;
}

#linhaabaixo{
    display: flex;
    align-items: center;
    gap: 30px;
}

.img_setasd{
    height: 18px;
    width: 18px;
}

.img_setase{
    height: 18px;
    width: 18px;
    transform: scaleX(-1);
}

/*
================================
        SEÇÃO quatro 2/2 
===============================
*/

#infoquatro{
    background-color: rgb(201, 226, 247);
    border: 0px;
    border-radius: 15px;
    flex: 1;
    margin: 10 0;
    padding: 17px;
    height: 100%;
    height: auto;
    display: block;
}

#partecima{
    color: rgb(0, 67, 167);
    display: flex;
    justify-content: space-between;
    margin: 0 12;
}

#usuario{
    background-color: white;
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px;
    border-radius: 15px;
}

.img_usuario{
    height: 50px;
    width: 50px;
    border-radius: 100px;
    padding-left: 10px;
}

#usuario h3{
    margin: 10 0;
}

#usuario p{
    margin: 10 0;
}

.dividirdata{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-right: 10px;
}

/*
================================
        SEÇÃO cinco 1/2 
===============================
*/
#secaotres{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}


#infocinco{
    background-color: rgb(201, 226, 247);
    border: 0px;
    border-radius: 15px;
    padding: 30px;
    padding-top: 20px;
    margin: 10 0;
    flex: 1.7;
    justify-content: space-between;
}

.partedoidera{
    background-color: white;
    display: flex;
    margin: 10 0;
    align-items: center;
    border-radius: 15px;
    max-height: 110px;
}

.textopedido{
    max-width: 80px;
    margin: 18px;
}

.img_captura{
    max-width: 100%;
    height: auto;
    display: block;
}

/*
================================
        SEÇÃO cinco 1/2 
===============================
*/

#infoseis{
    background-color: rgb(201, 226, 247);
    border: 0px;
    border-radius: 15px;
    flex: 1;
    margin: 10 0;
    padding: 17px;
    height: 100%;
    height: auto;
    display: block;
}

#produtos2{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
}

#pedidosloucos{
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}




/*
======================
 parte do fix maneira
======================   
*/
#cabecalho{
    background-color: rgb(204, 203, 203);
    margin: 0px;
}
#linha_amarela{
    background-color: rgb(245, 245, 103);
    height: 15px;
}
#nav_cima{
    display: flex;
    gap: 5px;
    background-color: rgb(204, 203, 203);
    border: 2px;
    height: 40px;
    align-items: center;
    padding-left: 5px;
}
button img{
    height: 20px;
    width: 20px;
}
button{
    height: 27px;
}
#Redo{
    transform: scaleX(-1);
}
#Calendario_2{
    transform: rotate(-90deg)
}
#Calendario_3{
    transform: scale(-1);
}
#Repositories{
    display: flex;
    max-width: 350px;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
}
#Repositories img{
    height: 15px;
    width: 15px;
}
#linha_azul{
    height: 4px;
    width: 412px;
    position: fixed; left: 0;
    background-color: rgb(67, 67, 255);
}
#botoes{
    display: flex;
    gap: 15px;
    background-color: rgb(204, 203, 203);
    border: 2px;
    height: 40px;
    max-width: 400px;
    align-items: center;
    padding-left: 5px;
}
#Tabela_Esquerda{
    border: 1px solid black;
   width: 405px;
}
#Tabela_Esquerda td{
    border: 1px solid black;
}
#Tabela_Esquerda th{
    background-color: rgb(204, 203, 203);
    border: 1px solid black;
    text-align: left;
    padding: 2px;
}
#Overview{
    padding-left: 450px;
    position: fixed; top: 230px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
#Overview button{
    border-radius: 50%;
    border-color: black;
    margin-top: 20px;
    margin-right: 20px;
}
#Overview div img{
    height: 15px;
    width: 15px;
    position: fixed; right: 10px; top: 250px;
}
#linha_azul2{
    height: 4px;
    width: 912px;
    background-color: rgb(67, 67, 255);
    position: fixed; right: 0; top: 270px;
}
#botoes2{
    display: flex;
    position: fixed; top: 300px; right: 444px;
    gap: 10px;
}
#botoes_direita{
    position: fixed; right: 0px;
}
#Tabela_Baixo{
    border: 1px solid black;
   width: 405px;
   position: fixed; right:0px; top: 340px;
   width: 915px;
}
#Tabela_Baixo td{
    border: 1px solid black;
}
#Tabela_Baixo td img{
    height: 20px;
}
#Tabela_Baixo th{
    background-color: rgb(204, 203, 203);
    border: 1px solid black;
    text-align: left;
    padding: 2px;
}